<div class="nav">
    <ul>

       <li class="nav-ul-li"> <a href="">  Home </a> </li>
        <li class="nav-ul-li"> <a href="">About Us</a> </li> 

        <div class="dropdown">
            <button class="dropbtn">Domestic</button>
            <div class="dropdown-content">
                <a href="https://jingleholidaybazar.com/north.php">North</a>
                <a href="https://jingleholidaybazar.com/west.php">South </a>
                <a href="#">East</a>
                <a href="#"> West</a>
            </div>
        </div>

        <li class="nav-ul-li"> <a href="">International</a> </li>
        <li class="nav-ul-li"> <a href="">Place</a> </li>
        <li class="nav-ul-li"> <a href="">Packeges</a> </li>
        <li class="nav-ul-li"> <a href="">Contact Us</a></li>
        <li class="nav-ul-li"> <a href="">+91-91237 83663</a></li>
        <li class="nav-ul-li"> <a href="">Pay Now</a> </li>
    </ul>
</div>