
.nav{
    background-color: #123AA3 ;
    height: 60px;
    width: 99.9%;
    
    
}

ul {
    justify-content: space-between;
    display: flex;
    margin-top: -8px;
    margin-right: 25px;

    
}

.nav-ul-li  {
    margin-top: 10px;
    margin-top: 16px;
    display: block;
    padding-top: 10px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.nav-ul-li a {
  text-decoration: none;
 
  box-sizing: border-box;
  color: #f1f1f1;
 
}
.nav-ul-li a:hover{
  color: #F9DC08   ;
}

.dropbtn {
    background-color: #c7ddf1; 
    color: #857dc9;
    height: 55px;
    padding: 16px;
    padding-top: 20px;
    font-size: 16px;
    border: none;
    margin-top: 5px;
}  
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  
  
   
.dropdown:hover .dropbtn {background-color: #3e8e41;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown-content a:hover {background-color: #ddd;}

