<!--  put here image slider and remove this image-->
<div>


    <img src="assets/img/badrinath-img.webp" alt="">

</div>
<section id="header" class="jumpbortan">
    <h3 class="service-class">Services</h3>
    <p class="leader">
        " At Jingle Holiday Bazar, we are committed to ensuring that you save on every trip and every holiday"
        <br> "booking you make with us by bringing to you the best price deals; be it flights, tours or hotels. Our
        unique budget"
    </p>
</section>

<!--  Start card section -->

<section id="Gallery">
    <div class="Container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="item1">
                            <i style="color: green;" class="icon" class="fa-solid fa-house"></i>
                            <div>
                                <h5 class="card-title">
                                    Jindal Holiday Bazar
                                </h5>
                                <h6 class="card-title">
                                    "Book villas , apartment"
                                    <br>
                                    "and resorts"
                                </h6>
                                <p class="collapse" id="colapse-summry"> Jingle Holiday Bazar.com ventured into
                                    Homestays in India in
                                    2015, and is providing great homestay
                                    experiences to its customers as well as benefits to its hosts. If you are looking
                                    for a holiday with a
                                    difference, want to closely savour the local.

                                </p>


                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="item1">
                            <i style="color: green;" class="fa-solid fa-bed"></i>
                            <div>
                                <h5 class="card-title">
                                    Jindal Holiday Bazar
                                </h5>
                                <h6 class="card-title">
                                    "Book villas , apartment"
                                    <br>
                                    "and resorts"
                                </h6>
                                <p class="collapse" id="colapse-summry"> We are back in the post-pandemic world with a
                                    bouquet of hotels across Indian
                                    cities ranging from leisure to business ones with a new outlook.
                                    Jingle Holiday Bazar who has always been on the forefront of assuring a comfortable
                                    stay

                                </p>


                            </div>
                        </div>
                        <!-- <br>    -->




                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="item1">
                            <i style="color: green;" class="fa-solid fa-plane"></i>
                            <div>
                                <h5 class="card-title">
                                    Jindal Holiday Bazar
                                </h5>
                                <h6 class="card-title">
                                    "Book villas , apartment"
                                    <br>
                                    "and resorts"
                                </h6>
                                <p class="collapse" id="colapse-summry"> Purchasing flight tickets and confirming your
                                    flight booking is the key aspect of planning a trip.
                                    Now whether you are travelling for business or on leisure, you cannot make an
                                    itinerary until you have first and foremost booked your flights.

                                </p>


                            </div>
                        </div>
                        <!-- <br>    -->




                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service section after card  -->
<section id="header" class="jumbo" style="margin-top: -125px; ">
    <h3 class="service-class">Services</h3>
    <p class="leader" style="margin-bottom: 5px;">India is a vibrant land of startling contrasts where both the
        traditional and modern worlds
        meet.<br>
        The world's seventh largest nation by area and the second largest in terms of population, India boasts a
        rich<br> heritage that's the result of centuries of different cultures
        and religions leaving their mark</p>
</section>

<!-- Image group of 3 image  -->

<div class="container">
    <div class="col1">

        <a href="https://jingleholidaybazar.com/"> <img src="assets/img/jaliyawala-Bagh.jpg" alt=""> </a>


    </div>
    <div class="col2">
        <div class="col2row1"> <a href="https://jingleholidaybazar.com/tour.php"> <img src="assets/img/Gangtok.jpg"
                    alt=""> </a></div>
        <div class="col2row2"> <a href="https://jingleholidaybazar.com/Uttar-pradesh-Tour-packages.php"><img
                    src="assets/img/Taj-mahal.jpg" alt=""></a> </div>


    </div>

</div>

<div class="container-below">
    <h2>POPULOR DESTINATION INTERNATIONAL</h2>
    <p>Mother Earth along with mankind have co-created some of the most spectacular places on this planet. <br>
        From sprawling cities to spectacular national parks, it is hard to keep your bucket list stagnant. Keeping in
        mind <br>
        iconic attractions, culture, food and ease of travel, these are the best places in the world to visit!</p>
</div>

<!-- Again image in group frame-->

<div class="container2">
    <div class="col1-tour">
        <a href="https://jingleholidaybazar.com/Dubai-Tour-Packages.php"> <img src="assets/img/DUBAI1.jpg" alt=""> </a>


    </div>
    <div class="col2-tour">
        <div class="col2row1-tour">
            <a href="https://jingleholidaybazar.com/Australia-Tour-Packages.php">
                <img src="assets/img/sydney.jpg" alt="">
            </a>
        </div>
        <div class="col2row2-tour">
            <a href="https://jingleholidaybazar.com/Singapore-Tour-Packages.php">
                <img src="assets/img/singapore.jpg" alt="">
            </a>
        </div>


    </div>

</div>
<div class="all-destination">
    <a href="">
        <p>All DESTINATION</p>
    </a>
</div>

<div class="featured">
    <div class="feature-block">
        <h1>FEATURED TOURS IN INDIA</h1>
        <p>India is a vibrant land of startling contrasts where both the traditional and modern worlds meet. The world's
            seventh <br>
            largest tourist nation by area and the second largest in terms of population</p>
    </div>

</div>

<!-- image and content mix container-->


<div class="container-block">
    <div class="container-block1">
        <img src="assets/img/Leh03.jpg" alt="">
        <h1>Week at thiskey monastery</h1>
        <p>This 12-storey complex hosts over 500 monks and is considered to be one of the most beautiful Buddhist
            monasteries in all of Ladakh. For Ladakh sightseeing, Thiksey Gompa will enlighten you with knowledge about
            some of the Buddhist culture, lifestyle, scriptures, statues and even paintings.</p>
        <h4>WhatsApp Now More Details</h4>
    </div>
    <div class="container-block2">
        <div class="block2r1">
            <div class="part1"><img src="assets/img/Solang-Valley.jpg" alt=""></div>
            <div class="part2">
                <h1>Week At Solang Valley, Manali</h1>
                <p>A mini valley located at about 8400 feet above sea level, Solang Nala is a short drive away from
                    Manali. If you are looking for snow-based activities and sports, winters are the best time to visit
                </p>
                <h4>Contact</h4>
            </div>
        </div>
        <div class="block2r2">
            <div class="part3"><img src="assets/img/india-goa-beach.jpg" alt=""></div>
            <div class="part4">
                <h1>Week At Beach in Goa</h1>
                <p>Goa is the smallest state in India, Goa is synonymous to many captivating things that are best
                    showcase of a life without stress and worries. The multitude of beaches in Goa</p>
                <h4>Contact</h4>
            </div>
        </div>


    </div>
</div>

<div class="gallery">
    <h1>Gallery</h1>
    <p>At Jingle Holiday Bazar All Over India Destination Gallery</p>
</div>

<!-- divs Hide and show on booton click in card group -->
<div class="togglebutton">
    <button (click)="toggleDiv('div1')">North India</button>
    <button (click)="toggleDiv('div2')">East India</button>
    <button (click)="toggleDiv('div3')">West India</button>
    <button (click)="toggleDiv('div4')">South India</button>
</div>
<div class="div1" id="div1" [hidden]="!showDiv1">

    <div class="div1-r1">
        <div class="div1-r1-column1"> <img src="assets/img/Red-Fort.jpg" alt="https://htmlcolorcodes.com/color-picker/">
            <p>New Delhi</p>
        </div>
        <div class="div1-r1-column2"> <img src="assets/img/Shimla1.jpg" alt="">
            <p>Shimla</p>
        </div>
        <div class="div1-r1-column3"> <img src="assets/img/Taj-mahal.jpg" alt="">
            <p>Agra</p>
        </div>
        <div class="div1-r1-column4"> <img src="assets/img/Manali1-1.jpg" alt="">
            <p>Kullu and Manali</p>
        </div>
    </div>
    <div class="div1-r2">
        <div class="div1-r2-column1"> <img src="assets/img/Mussoorie1.jpg" alt="">
            <p>Mossoorie Dehradun</p>
        </div>
        <div class="div1-r2-column2"><img src="assets/img/Khajjar.jpg" alt="">
            <p>Dalhousie</p>
        </div>
        <div class="div1-r2-column3"><img src="assets/img/Jim-Corbett.jpg" alt="">
            <p>Jim Corbett National Park</p>
        </div>
        <div class="div1-r2-column4"><img src="assets/img/Jallianwala-Bagh1.jpg" alt="">
            <p>Amiritsar</p>
        </div>
    </div>

</div>

<div class="div2" id="div2" [hidden]="!showDiv2">

    <div class="div2-r1">
        <div class="div2-r1-column1"> <img src="assets/img/Kaziranga (1).jpg" alt="">
            <p>Kajinga National Park</p>
        </div>
        <div class="div2-r1-column2"> <img src="assets/img/Tsomgo-Lake.jpg" alt="">
            <p>Tsomgo Lake</p>
        </div>
        <div class="div2-r1-column3"> <img src="assets/img/Ziro-Valley.jpg" alt="">
            <p>Ziro Valley</p>
        </div>
        <div class="div2-r1-column4"> <img src="assets/img/Goechala.jpg" alt="">
            <p>Goechala</p>
        </div>
    </div>
    <div class="div2-r2">
        <div class="div2-r2-column1"> <img src="assets/img/Cherrapunji.jpg" alt="">
            <p>Chirapunji</p>
        </div>
        <div class="div2-r2-column2"><img src="assets/img/Pelling.jpg" alt="">
            <p>Pelling</p>
        </div>
        <div class="div2-r2-column3"><img src="assets/img/Gangtok.jpg" alt="">
            <p>Gangtok</p>
        </div>
        <div class="div2-r2-column4"><img src="assets/img/Gorichen-Peak.jpg" alt="">
            <p>Gorichen Peak</p>
        </div>
    </div>

</div>

<div class="div3" id="div3" [hidden]="!showDiv3">
    <div class="div3-r1">
        <div class="div3-r1-column1"> <img src="assets/img/Goa-beaches.jpg" alt="">
            <p>Goa</p>
        </div>
        <div class="div3-r1-column2"> <img src="assets/img/mumbai.jpg" alt="">
            <p>Mumbai</p>
        </div>
        <div class="div3-r1-column3"> <img src="assets/img/mahabaleshwar.jpg" alt="">
            <p>Mahabaleshwar</p>
        </div>
        <div class="div3-r1-column4"> <img src="assets/img/panchghani.jpg" alt="">
            <p>Panchgani</p>
        </div>
    </div>
    <div class="div3-r2">
        <div class="div3-r2-column1"> <img src="assets/img/Kandala.jpg" alt="">
            <p>Khandala</p>
        </div>
        <div class="div3-r2-column2"><img src="assets/img/lonavala.jpg" alt="">
            <p>Lonavla</p>
        </div>
        <div class="div3-r2-column3"><img src="assets/img/dandeli-wildlife.jpg" alt="">
            <p>Dandeli National Park</p>
        </div>
        <div class="div3-r2-column4"><img src="assets/img/SHIRDI.jpg" alt="">
            <p>Shirdi</p>
        </div>
    </div>
</div>

<div class="div4" id="div4" [hidden]="!showDiv4">
    <div class="div4-r1">
        <div class="div4-r1-column1"> <img src="assets/img/Bangalore1.jpg" alt="">
            <p>Banglore</p>
        </div>
        <div class="div4-r1-column2"> <img src="assets/img/mumbai.jpg" alt="">
            <p>Coorg</p>
        </div>
        <div class="div4-r1-column3"> <img src="assets/img/Chennai-1.jpg" alt="">
            <p>Chennai</p>
        </div>
        <div class="div4-r1-column4"> <img src="assets/img/Gokarna-1.jpg" alt="">
            <p>Gokarna</p>
        </div>
    </div>
    <div class="div4-r2">
        <div class="div4-r2-column1"> <img src="assets/img/Hampi-1.jpg" alt="">
            <p>Hampi</p>
        </div>
        <div class="div4-r2-column2"><img src="assets/img/Pondicherry-1.jpg" alt="">
            <p>Pondicherry</p>
        </div>
        <div class="div4-r2-column3"><img src="assets/img/Munnar-Kerala-1.jpg" alt="">
            <p>Munnar</p>
        </div>
        <div class="div4-r2-column4"><img src="assets/img/SHIRDI.jpg" alt="">
            <p>Kanyakumari</p>
        </div>
    </div>
</div>

<div class="popular-hotels">
    <h1>Popular Hotels</h1>
    <p>At Jolingal Holiday Bazar Brovide Best Hotel facilty National And International</p>
</div>

<!--images and content as card formate-->
<div class="taj">
    <div class="taj-aravali">
        <div class="taj-aravali-r1">
            <div class="taj-aravali-r1-part1"><img src="assets/img/Taj-Aravali-Resort-Spa.jpg" alt=""></div>
            <div class="taj-aravali-r1-part2">
                <h2>Taj Aravali Resort & Spa</h2>
                <p>Prices for Taj Aravali Resort and Spa one of the best hotels in India, starts at ₹ 12999+ per night
                </p>

            </div>
        </div>
        <div class="taj-aravali-r2">
            <div class="taj-aravali-part3"><img src="assets/img/manali-hotell.jpg" alt=""></div>
            <div class="taj-aravali-part4">

                <h2>Hotel Mountain face by Snow City Hotels</h2>
                <p>Goa is the smallest state in India, Goa is synonymous to many captivating things that are best
                    showcase of a life without stress and worries. The multitude of beaches in Goa</p>

            </div>
        </div>


    </div>

    <div class="taj-aravali-2">
        <img src="assets/img/5.jpg" alt="">
        <h1>Hideout Premiere</h1>
        <p>Hideout Resorts is a collection of elegantly designed hotels and resorts in Goa that aim to give our guests
            the opportunity to enjoy Goa in all her glory. Whether it’s the beaches ₹ 4499+</p>

    </div>
</div>

<!--Footer design -->

<div class="footer">
    <div class="footer-part1">
        <div class="jindal-holiday-contact">
            <h2>Jindle Holiday Bazar</h2>
            <p> Travel with us from here to any where...</p>
            <div class="phone-icon">
                <ul class="phone-icon-ul-1">
                    <i class="fa-solid fa-phone"></i>
                    <p>Phone :</p>

                </ul>
                <ul class="phone-icon-ul-2">
                    <a href="">+91-9157256235</a>
                </ul>
            </div>
            <ul class=" phone-icon-ul-1">
                <i class="fa-regular fa-envelope"></i>
                <p>powerchandradipkumar3@gmail.com</p>
            </ul>
            <ul class=" phone-icon-ul-1">
                <i class="fa-regular fa-envelope"></i>
                <p>abcdkumar370@gmail.com</p>
            </ul>
            <ul class=" phone-icon-ul-1">
                <i class="fa-solid fa-phone"></i>
                <p>24/7 Dedicated costomer support</p>
            </ul>
            <ul class=" phone-icon-ul-1">
                <i class="fa-regular fa-thumbs-up"></i>
                <p>Our priority is customer satisfaction</p>
            </ul>

        </div>
        <div class="quick-link">
            <h2>Quick Link</h2>
            <a href="">Home</a>
            <a href="">About Us</a>
            <a href="">Blog list</a>
            <a href="">Destination</a>
            <a href="">Hotels</a>
            <a href="">Gallery</a>
        </div>
    </div>
    <div class="footer-part2">
        <div class="domestic-package">
            <h2>Domestic Packages</h2>
            <a href="">Uttrakhand</a>
            <a href="">Mumbai</a>
            <a href="">Ladakh</a>
            <a href="">Meghalya</a>
            <a href="">North India</a>
            <a href="">Rajsthan</a>
        </div>
        <div class="international-package">
            <h2>International Packages</h2>
            <a href="">Maldives</a>
            <a href="">Singapore</a>
            <a href="">Soudi Arabia</a>
            <a href="">Thailand</a>
            <a href="">Dubai</a>
            <a href="">Switzerland</a>
        </div>
        <div class="yatra">
            <h2>Yatra</h2>
            <a href="">Mata Vaishno</a>
            <a href="">Kedar Nath</a>
            <a href="">Badri Nath</a>
            <a href="">Char Dham Yatra</a>
            <a href="">Ramayana Yatra</a>
            <a href="">9 Devi Yatra</a>
        </div>
    </div>

</div>



<hr>

<div class="footerCoder">
    <ul class="footerCoder-left">
        <p>Powered by Sandeep Kumar  |  </p>
        <p>Contact for Details |</p>   
        <p>All right reserved to sandeep</p>
    </ul>
    <ul class="footerCoder-right">
        
    </ul>
</div>